aiohttp
aiomysql
beautifulsoup4
# blinker
click
cryptography
fake_useragent
html2text
internetarchive 
lxml
matplotlib
mysql-connector-python
networkx
nltk
numpy
nrel-rex
openai>=1.1.0
pandas
pdfkit
playwright
PyMySQL
PyMuPDF
PyPDF2
pywaybackup
pyyaml
pdf2image
pdftotext
pytesseract
python-slugify
requests
scipy
selenium
# selenium-wire This won't fucking download!!!
tabulate
tiktoken
tqdm
undetected-chromedriver
webdriver-manager 
#warcio
waybackpy